%form{action: '/vox', method: 'post', enctype: 'multipart/form-data'}
  %input{type: 'text', name: 'title'}
  %br
  %input{type: 'text', name: 'vox[comment]'}
  %br
  %input{type: 'file', name: 'vox[upload]'}
  %br
  %button{type: 'submit'} submit
